.title {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 87px;
}
.add-btn {
    height: 25px;
    margin-top: 10px;
    margin-left: 67%;
}
.user-list {
    margin-left: 5%;
    width: 90%;
}